{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>{% block title %}{% endblock title %}</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">

    <!-- Icons -->
    <link href="{% static 'assets/css/nucleo-icons.css' %}" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link type="text/css" href="{% static 'assets/css/argon-design-system.min.css' %}" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- google addsense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8015840948655941" crossorigin="anonymous"></script>

    <!-- umami analytics -->
    <script async defer data-website-id="8c7554f8-0129-4961-98a7-05c683b47ec9" src="https://bdbea9583705.up.railway.app/umami.js"></script>
</head>
<body>
    <header>
        {% block header %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-default">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">Saros</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-default">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                <a href="javascript:void(0)">
                                    <img src="">
                                </a>
                            </div>
                            <div class="col-6 collapse-close">
                                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link nav-link-icon" href="{% url 'posts:posts' %}">
                                <i class="ni ni-collection"></i>
                                <span class="nav-link-inner--text d-lg-none">Posts</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-icon" href="{% url 'posts:create_post' %}">
                                <i class="ni ni-fat-add"></i>
                                <span class="nav-link-inner--text d-lg-none">Create Post</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link nav-link-icon" href="#" id="navbar-default_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ni ni-single-02"></i>
                                <span class="nav-link-inner--text d-lg-none">Account</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1">
                                {% if user.is_authenticated %} 
                                    <a class="dropdown-item" href="{% url 'users:profile' user.id %}">Profile</a>
                                {% else %} 
                                    <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
                                {% endif %}
                                
                                <div class="dropdown-divider"></div>
                                {% if user.is_authenticated %}
                                    <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                                {% else %} 
                                    <a class="dropdown-item" href="{% url 'account_signup' %}">Signup</a>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </nav>
        
        
        {% endblock header %}
    </header>
    <main class="container">
        {% block content %} {% endblock content %}
    </main>
    <footer>
        {% block footer %}{% endblock footer %}
    </footer>

    
    <!-- Core -->

    <script src="{% static '/assets/js/core/popper.min.js' %}"></script>
    <script src="{% static '/assets/js/core/bootstrap.min.js' %}"></script>
    <!-- Plugins -->
    <script src="{% static '/assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
    <!-- Theme JS -->
    <!-- <script src="{% static '/assets/js/argon-design-system.min.js' %}"></script> -->


    {% block scripts %}{% endblock scripts %}
</body>
</html>